body {
    background: #ddd;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
}

.container__first-circle {
    display: flex;
    width: 60%;
    height: 600px;
    margin: auto;
    background: #f00;
    border-radius: 50%;
}

.container__second-circle {
    display: flex;
    width: 80%;
    height: 480px;
    margin: auto;
    background: #0f0;
    border-radius: 50%;
}

.container__third-circle {
    display: flex;
    width: 80%;
    height: 384px;
    margin: auto;
    background: #f00;
    border-radius: 50%;
}

.container__fourth-circle {
    display: flex;
    width: 80%;
    height: 307.2px;
    margin: auto;
    background: #00ffff;
    border-radius: 50%;
}

.estrella {
    object-fit: cover;
    margin: auto;
    position: relative;
    display: block;
    color: red;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
}

.estrella:before {
    border-bottom: 80px solid red;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}

.estrella:after {
    position: absolute;
    display: block;
    color: red;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
}



.contenedor {
    position: relative;
    display: block;
    background-color: transparent;
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
    margin: 0 auto;
    margin-top: 100px;
    
}

.contenedor::after {
    position: absolute;
    display: block;
    background-color: transparent;
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-top: 70px solid red;
    border-left: 100px solid transparent;
    transform: rotate(110deg);
    margin: 0 auto;
    margin-top: 0px;
    margin-left: -100px;
    content: '';
}

.contenedor::before {
    position: absolute;
    display: block;
    background-color: transparent;
    width: 0;
    height: 0;
    border-right: 30px solid transparent;
    border-bottom: 80px solid red;
    border-left: 30px solid transparent;
    transform: rotate(-35deg);
    margin: 0 auto;
    margin-top: -45px;
    margin-left: -60px;
    content: '';
}